body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #faedcd;
    margin-top: 8%;
    font-family: "Roboto Mono", monospace;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 4%;
}
section img{
    width: 40%;
    min-width: 165px;
    height: auto;
    border-radius: 15px;
    margin-left: 2rem;
}
