.example::-webkit-scrollbar {
  display: none;
}
.material-symbols-rounded {
  color: rgb(48, 48, 48);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
  background-color: #faedcd;
  font-family: "Roboto Mono", monospace;
  height: auto;
}
nav {
  background-color: #ccd5ae;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
nav {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav a {
  display: flex;
  align-items: center;
  margin: 10px;
  color: #303030;
  text-decoration: none;
  margin-right: 2rem;
  transition: transform 0.5s;
}
nav a:hover {
  transform: translateY(-0.2rem);
}
nav span {
  margin-right: 0.5rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 60%;
  padding-bottom: 3rem;
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-top: 3rem;
  width: 100%;
  background-color: #ccd5ae;
  height: 3rem;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer p {
  margin-right: 2rem;
}
.main-container {
  background-color: #fefae0;
  border-radius: 15px;
  margin-top: 4rem;
  width: 80%;
  max-height: 5rem;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.8s, box-shadow 0.3s, height 0.6s, max-height 1s;
}
.main-container:last-of-type{
  margin-bottom: 3rem;
}
.main-container:hover {
  border: 1px solid #ccd5ae;
  max-height: 80vh;
  transform: translateY(-0.4rem);
  box-shadow: 0 0.7rem 0.7rem 0.1rem #ccd5ae;
}

.main-container h1 {
  text-align: center;
}

@media only screen and (hover: none) and (pointer: coarse){

  }
  @media (max-width: 292px) {
    nav {
      height: 9rem;
    }
  }
  @media (max-width: 339px) {
    footer {
      height: 6rem;
    }
  }
  
  @media (max-width: 452px) {
    nav {
      height: 6rem;
    }
    .main-container{
      width: 100%;
    }

  }