.material-symbols-rounded {
  color: rgb(48, 48, 48);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
  background-color: #faedcd;
  height: 8000px;
  font-family: "Roboto Mono", monospace;
}
nav,
footer {
  background-color: #ccd5ae;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav a {
  display: flex;
  align-items: center;
  margin: 10px;
  color: rgb(48, 48, 48);
  text-decoration: none;
  margin-right: 2rem;
  transition: transform 0.5s;
}
nav a:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0px 31px 19px -21px rgba(250, 237, 205, 1);
}
nav span {
  margin-right: 0.5rem;
}
footer {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  footer p {
    margin-right: 2rem;
  }
main {
  height: 1000px;
}
